*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#1f2636;
}

.card{
    position:relative;
    width:330px;
    height:240px;
    background:#fff;
    border-radius:8px;
    overflow:hidden;
    transition:0.5s ease;
    box-shadow:0 15px 35px rgba(0,0,0,0.25);
}

.img-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 290px;
    transition: 0.5s ease;
    z-index: 2;
}

.img-box img{
   width: 100%;
    height: 63%;
    object-fit: cover;
    display: block;
}

.content{
    position:absolute;
    left:0;
    top:190px;
    width:100%;
    height:230px;
    padding:22px;
    background:#fff;
    transition:0.5s ease;
}

.content h1{
    font-size: 28px;
    letter-spacing: 3px;
    color: #1f2636;
    margin-bottom: 10px;
    margin-top: -9px;
    text-align: left;
}

.content hr{
   width: 70px;
    height: 1px;
    border: none;
    background: black;
    margin-bottom: 18px;
}

.content p{
    color:#7d8597;
    line-height:1.8;
    font-size:15px;
    margin-bottom:30px;
    opacity:0;
    transform:translateY(20px);
    transition:0.4s ease 0.15s;
}

.content h2{
   color: green;
    letter-spacing: 3px;
    font-size: 18px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.4s ease 0.25s;
}

/* Hover */
.card:hover{
    height:430px;
}

.card:hover .img-box{
    top:-140px;
    height:180px;
}

.card:hover .content{
    top:40px;
}

.card:hover .content p,
.card:hover .content h2{
    opacity:1;
    transform:translateY(0);
}